<a href="https://colab.research.google.com/github/philthefeel/estructures_dades/blob/main/estructures_dades.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Sprint 03: Estructura de dades

## Exercici 1

In [1]:
import numpy as np
import random

# Creating a nested lists

trimestres = list()
t1 = ["Gener", "Febrer", "Març"]
t2 = ["Abril", "Maig", "Juny"]
t3 = ["Juliol", "Agost", "Setembre"]
t4 = ["Octubre", "Novembre", "Desembre"]

trimestres = [t1, t2, t3, t4]
print(trimestres)

[['Gener', 'Febrer', 'Març'], ['Abril', 'Maig', 'Juny'], ['Juliol', 'Agost', 'Setembre'], ['Octubre', 'Novembre', 'Desembre']]

## Exercici 2

In [ ]:
# El segon mes del primer trimestre
print(trimestres[0][1])
# Els mesos del primer trimestre
print(trimestres[0]) 
# Setembre i octubre
print(trimestres[2][2], "i", trimestres[3][0])

Febrer
['Gener', 'Febrer', 'Març']
Setembre i Octubre

## Exercici 3

In [7]:
# Crea una llista amb nombres desordenats
Unordered_list = random.choices(list(range(15)),k =20) # List
print(Unordered_list)
# Quants números hi ha?
print("Numbers count: ",len(Unordered_list))

[1, 11, 7, 11, 6, 1, 5, 5, 10, 10, 13, 2, 11, 3, 10, 14, 11, 1, 9, 5]
Numbers count:  20

In [8]:
# Quantes vegades apareix el número 3
print("Ocurrences of number 3: ",Unordered_list.count(3))
# Quantes vegades apareix el número 3 i 4
print("Ocurrences of number 3 i 4: ",Unordered_list.count(3) + Unordered_list.count(4))
# Quin és el número més gran?
print("Higher number: ",max(Unordered_list))
Ordered_list = Unordered_list.copy()
Ordered_list.sort()
# Quins són els 3 números més petits?
print("The 3 smaller numbers are: ", np.unique(Ordered_list)[:3])
# Quin és el rang d’aquesta llista?
print("The range of the list is: [", min(Unordered_list),",", max(Unordered_list), "]")

Ocurrences of number 3:  1
Ocurrences of number 3 i 4:  1
Higher number:  14
The 3 smaller numbers are:  [1 2 3]
The range of the list is: [ 1 , 14 ]

## Exercici 4

In [11]:
# Crea un diccionari 
compra = { "Pomes" : {"Qty": 5,
                      "€": 0.42},
           "Peres" : {"Qty": 3,
                      "€": 0.66} }

In [12]:
# Afegeix alguna fruita més
compra["Maduixa"] = {"Qty": 7,
                     "€": 0.99} 

''' Also through "update" method:
compra.update({"Maduixa" : {"Qty": 7,
                            "€": 0.99}})'''

' Also through "update" method:\ncompra.update({"Maduixa" : {"Qty": 7,\n                            "€": 0.99}})'

In [ ]:
# Quant han costat les peres en total?
print("Total price of \"Peres\" :",
      compra["Peres"]["Qty"]* compra["Peres"]["€"])

Total price of "Peres" : 1.98

In [13]:
# Quantes fruites hem comprat en total?
a = 0
for k,v in compra.items():
    a += v["Qty"]
print("Total number of fruits bought :", a)

Total number of fruits bought : 15

In [14]:
# Quina és la fruita més cara?
b = 0
c = "none"
for k,v in compra.items():
    if v["€"] > b:
        b = v["€"]
        c = k
print("The most expensive fruit is :", c)

The most expensive fruit is : Maduixa